.navigation {
    background-color: darkorange;
    height: 80px;
    display: flex;
    width: 860px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    height: 60px;
    width: 840px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.navigationText {
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    background-color: maroon;
    border: chocolate 2px solid;
}

.block {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    min-width: 320px;
    font-size: 24px;
    align-items: center;
    margin: 10px;
    justify-content: flex-end;
    color: white;
    /*background-color: lightyellow;*/
}
.button {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /*border-radius: 15px;*/
}

.icon {
display: flex;
    justify-content: space-between;
    min-height: 300px;
    max-width: 300px;
}

.title {
    font-size: 28px;
    margin: 10px;
    color: lightgreen;
}
.item {
    color: gray;
    text-decoration: gold;
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    background-color: maroon;
    border: chocolate 2px solid;
    text-underline-style: none;
}

.item .active {
    color: lightyellow;
}

@media screen and (max-width: 1200px) {
    .container {justify-content: center}
}