.app-wrapper {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.wrapper {
  /*background-color: black;*/
  height: 720px;
  width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  border: darkgrey 5px solid;
}

.text {
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
}

.maxError {
  opacity: 0.5;
  background-color: red;
}

.startError {
  background-color: red;
  opacity: 0.5;
}

.skillWrap {
  display: flex;
  /*max-height: 1050px;*/
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  min-width: 320px;
  font-size: 24px;
  align-items: center;
  margin: 10px;
  justify-content: flex-end;
  color: white;
  /*background-color: lightyellow;*/
}

.icon {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  max-width: 300px;
}

.title {
  font-size: 28px;
  margin: 10px;
  color: lightgreen;
}

@media screen and (max-width: 1200px) {
  .container {justify-content: center}
}


/*.test {*/
/*  color: green;*/
/*  font-size: 90px;*/
/*}*/


